<%- include("../partials/header.ejs") %>

<body>
    <%- include("../partials/navbar.ejs") %>

    <div class="wrapper">
        <div class="table-header" style="padding-left: 15px;">
            Showing <select oninput="show_entries(this.value)">
                <option value="15">15</option>
                <option value="30">30</option>
                <option value="60">60</option>
                <option value="80">80</option>
                <option value="<%= empathies.length %>">All</option>
            </select>Empathies
        </div>
        <table id="community_table" class="table table-striped table-bordered" style="padding: 20px;">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Create Time</th>
                    <th>Account ID</th>
                    <th>Post ID</th>
                </tr>
            </thead>
            <tbody>
                <% for (let i=0; i < empathies.length; i++) { const empathy = empathies[i] %>
                    <tr <%= (i >= 15) ? 'style=display:none' : "" %>>
                        <td><%= empathy.id %></td>
                        <td><%= moment(empathy.create_time).format("MM/DD/YYYY h:mm A") %></td>
                        <td><%= empathy.account_id %></td>
                        <td><%= empathy.post_id %></td>
                    </tr>
                <% } %>
            </tbody>
    </div>
</body>