<%- include("./partials/header.ejs") %>

<body>
    <%- include("partials/navbar.ejs") %>
    <div class="alert alert-success" role="alert" style="display: none;">
        <strong>Community Created!</strong>
        <span>StreetPass Plaza</span>
    </div>
  
    <div class="alert alert-info" role="alert" style="display: none;">
        <strong>Community Edited!</strong>
        <span>StreetPass Plaza</span>
    </div>
    <div class="wrapper center" data-community-id="<%= community.id %>">
        <div style="width: 50%;">
            <form>
                <div class="form-row">
                  <div class="col">
                    <label>Community Name</label>
                    <input id="name" type="text" class="form-control" placeholder="Community Name.." value="<%= community.name %>">
                  </div>
                  <div class="col">
                    <label>Description</label>
                    <textarea id="desc" type="text" class="form-control" placeholder="Description.."><%= community.description %></textarea>
                  </div>
                  <div class="col">
                    <label>App Data</label>
                    <input id="app_data" type="text" class="form-control" placeholder="App Data.." value="<%= community.app_data %>">
                  </div>
                  <div class="col">
                    <label>Parent Community ID</label>
                    <input id="parent_community_id" type="text" class="form-control" placeholder="Parent Community ID.." value="<%= community.parent_community_id %>">
                  </div>
                  <div class="col">
                    <label>PID</label>
                    <input id="pid" type="text" class="form-control" placeholder="PID.." value="<%= community.pid %>">
                  </div>
                  <div class="col">
                    <label>Title ID's (Hexadecimal to Decimal) [TID, TID, TID]</label>
                    <input id="title_ids" type="text" class="form-control" placeholder="Title ID's.." value="<%= community.title_ids %>">
                  </div>
                  <div class="col">
                    <label>In-Game Posting Only</label>
                    <input id="ingame_only" type="text" class="form-control" placeholder="In-Game Posts Only (0, 1)" value="<%= community.ingame_only %>">
                  </div>
                  <div class="col">
                    <label>Special Community</label>
                    <input id="special" type="text" class="form-control" placeholder="Special Community (0, 1)" value="<%= community.special_community %>">
                  </div>
                  <div class="col select">
                    <select name="platform" id="platform" autocomplete="off">
                        <option value="wiiu" <%= (community.platform == "wiiu") ? "selected" : "" %>>Wii U</option>
                        <option value="3ds" <%= (community.platform == "3ds") ? "selected" : "" %>>Nintendo 3DS</option>
                        <option value="both" <%= (community.platform == "both") ? "selected" : "" %>>Both</option>
                        <option value="vc" <%= (community.platform == "vc") ? "selected" : "" %>>Virtual Console</option>
                        <option value="topic" <%= (community.platform == "topic") ? "selected" : "" %>>Topic</option>
                        <option value="wii" <%= (community.platform == "wii") ? "selected" : "" %>>Wii</option>
                    </select>
                    <select name="type" id="type" autocomplete="off">
                        <option value="main"<%= (community.type == "main") ? "selected" : "" %>>Main Community</option>
                        <option value="sub" <%= (community.type == "sub") ? "selected" : "" %>>Subcommunity</option>
                        <option value="normal" <%= (community.type == "normal") ? "selected" : "" %>>Normal Community</option>
                        <option value="announcement" <%= (community.type == "announcement") ? "selected" : "" %>>Announcement Community</option>
                    </select>
                    <select name="post_type" id="post_type" autocomplete="off">
                        <option value="text"<%= (community.post_type == "text") ? "selected" : "" %>>Text Only</option>
                        <option value="memo" <%= (community.post_type == "memo") ? "selected" : "" %>>Memo Only</option>
                        <option value="all" <%= (community.post_type == "all") ? "selected" : "" %>>All</option>
                    </select>
                  </div>

                  <div class="select">
                    <div style="margin-bottom: 15px;">
                      <label for="icon" style="text-align: center; width: 100%;">Community Icon 128x128/72x72</label>
                      <input id="icon" type="file" class="custom-file-input" autocomplete="off">
                    </div>
  
                    <div style="margin-bottom: 30px;">
                      <label for="banner" style="text-align: center; width: 100%;">Community Banner (CTR) 400x168</label>
                      <input id="banner-ctr" type="file" class="custom-file-input" autocomplete="off">
                    </div>

                    <div style="margin-bottom: 30px;">
                      <label for="banner" style="text-align: center; width: 100%;">Community Banner (WUP) 1280x180</label>
                      <input id="banner-wup" type="file" class="custom-file-input" autocomplete="off">
                    </div>
                  </div>
                </div>
              </form>

              <div class="center">
                <button type="button" class="btn btn-secondary" style="margin-right: 20px;" onclick="history.back()">Cancel</button>
                <button type="button" class="btn btn-success" onclick="submitEditedCommunity()">Commit Edits</button>
              </div>
        </div>
    </div>
</body>

</html>