<%- include("./partials/header.ejs") %>

<body>
    <%- include("partials/navbar.ejs") %>

    <div class="alert alert-success" role="alert" style="display: none;">
        <strong>Community Created!</strong>
        <span>StreetPass Plaza</span>
    </div>

    <div class="alert alert-info" role="alert" style="display: none;">
        <strong>Community Edited!</strong>
        <span>StreetPass Plaza</span>
    </div>
    
    <div class="wrapper">
        <div class="table-header">
            <button type="button" class="btn btn-primary" onclick="pjax.loadUrl('/accounts/new')" style="margin: 5px;">Create New Account</button>
            <div id="filtering">
                <button type="button" class="btn btn-info" onclick="sort_account_table(4, this.id)" value="" id="clear-search-query">Clear Search Querys</button>
                <input placeholder="NNID.." id="sort-nnid" type="search" oninput="sort_account_table(3, this.id)">
                <span id="found"></span>
            </div>
        </div>
        

        <table id="admin_table" class="table table-striped table-bordered" style="padding: 20px;">
            <thead class="thead-dark">
                <tr>
                    <th>Time Created</th>
                    <th>ID</th>
                    <th id="hide">PID</th>
                    <th>NNID</th>
                    <th id="hide">Mii Name</th>
                    <th>Mii</th>
                    <th id="hide">Admin</th>
                    <th id="hide">Bio</th>
                    <th id="hide">Game Experience</th>
                    <th id="hide">Language</th>
                    <th id="hide">Country</th>
                    <th id="hide">Favorite Post</th>
                    <th id="hide">Pronouns</th>
                    <th id="hide">Tester</th>
                    <th>Edit</th>
                    <th id="hide">Delete</th>
                </tr>
            </thead>
            <tbody>
                <% for (let i=0; i < accounts.length; i++) { const account=accounts[i];%>
                    <tr>
                        <td><%= account.create_time %></td>
                        <td><%= account.id %></td>
                        <td id="hide"><%= account.pid %></td>
                        <td><%= account.nnid %></td>
                        <td id="hide"><%= account.mii_name %></td>
                        <td><img width="48px" alt="<%= account.mii_hash %>" title="<%= account.mii_hash %>" src="https://mii-images.account.nintendo.net/<%= account.mii_hash %>_normal_face.png"></td>
                        <td id="hide"><%= account.admin %></td>
                        <td id="hide"><%= account.bio %></td>
                        <td id="hide">
                            <% switch (account.game_experience) {
                                case 0:%>
                                Beginner
                                <%break;
                                case 1:%>
                                Intermediate
                                <%break;
                                case 2:%>
                                Expert
                                <%break;
                                default:%>
                                ???????
                                <%break;
                            } %>
                        </td>
                        <td id="hide"><%= account.language %></td>
                        <td id="hide"><%= account.country %></td>
                        <td id="hide"><%= account.favorite_post %></td>              
                        <td id="hide"><%= account.pronouns %></td>
                        <td id="hide"><%= (account.tester == 0) ? "false" : "true" %></td>
                        <td><a type="button" class="btn btn-info" onclick="pjax.loadUrl('/accounts/<%= account.id %>')">Edit</a></td>
                        <td id="hide">
                            <button accountid_delete=<%= account.id %> type="button" class="btn btn-danger" onclick="confirmDeletionAccount(this.attributes[0].value)">Delete</button>
                            <button accountid_confirm=<%= account.id %> type="button" class="btn btn-danger" style="display: none;" onclick="deleteAccount(this.attributes[0].value)">Confirm</button>
                        </td>
                    </tr>
                <%} %>
            </tbody>
        </table>
        
    </div>
    
</body>

<script>
    loadPostTimes();
</script>

</html>