<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aquamarine Admin Panel</title>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/admin.css">

    <script src="/js/pjax.js"></script>
    <script src="/js/admin.js"></script>
</head>

<body>
    <%- include("partials/navbar.ejs") %>
    <div class="wrapper">
        <div class="table-header">
            <button type="button" class="btn btn-primary" onclick="pjax.loadUrl('/accounts/new')" style="margin: 5px;">Create New Account</button>
            <button type="button" class="btn btn-info" onclick="sort_account_table(4, this.id)" value="" id="clear-search-query">Clear Search Querys</button>
            <input placeholder="NNID.." id="sort-nnid" type="search" oninput="sort_account_table(3, this.id)">
            <input placeholder="PID.." id="sort-pid" type="search" oninput="sort_account_table(2, this.id)">
            <input placeholder="Mii Name.." id="sort-mii-name" type="search" oninput="sort_account_table(4, this.id)">
            <span id="found"></span>
        </div>
        

        <table id="admin_table" class="table table-striped table-bordered" style="padding: 20px;">
            <thead class="thead-dark">
                <tr>
                    <th>Time Created</th>
                    <th>ID</th>
                    <th>PID</th>
                    <th>NNID</th>
                    <th>Mii Name</th>
                    <th>Mii</th>
                    <th>Admin</th>
                    <th>Bio</th>
                    <th>Game Experience</th>
                    <th>Language</th>
                    <th>Country</th>
                    <th>Favorite Post</th>
                    <th>Pronouns</th>
                    <th>Tester</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <% for (let i=0; i < accounts.length; i++) { const account=accounts[i];%>
                    <tr>
                        <td><%= account.create_time %></td>
                        <td><%= account.id %></td>
                        <td><%= account.pid %></td>
                        <td><%= account.nnid %></td>
                        <td><%= account.mii_name %></td>
                        <td><img width="48px" alt="<%= account.mii_hash %>" title="<%= account.mii_hash %>" src="https://mii-images.account.nintendo.net/<%= account.mii_hash %>_normal_face.png"></td>
                        <td><%= account.admin %></td>
                        <td><%= account.bio %></td>
                        <td>
                            <% switch (account.game_experience) {
                                case 0:%>
                                Beginner
                                <%break;
                                case 1:%>
                                Intermediate
                                <%break;
                                case 2:%>
                                Expert
                                <%break;
                                default:%>
                                ???????
                                <%break;
                            } %>
                        </td>
                        <td><%= account.language %></td>
                        <td><%= account.country %></td>
                        <td><%= account.favorite_post %></td>              
                        <td><%= account.pronouns %></td>
                        <td><%= (account.tester == 0) ? "false" : "true" %></td>
                        <td><a type="button" class="btn btn-info" onclick="pjax.loadUrl('/accounts/<%= account.id %>')">Edit</a></td>
                        <td>
                            <button accountid_delete=<%= account.id %> type="button" class="btn btn-danger" onclick="confirmDeletionAccount(this.attributes[0].value)">Delete</button>
                            <button accountid_confirm=<%= account.id %> type="button" class="btn btn-danger" style="display: none;" onclick="deleteAccount(this.attributes[0].value)">Confirm</button>
                        </td>
                    </tr>
                <%} %>
            </tbody>
        </table>
        
    </div>
    
</body>

<script>
    loadPostTimes();
</script>

</html>