<%- include("./partials/header.ejs") %>

<body>
    <%- include("partials/navbar.ejs") %>
    
    <div class="wrapper">
        <div class="table-header">
            <div id="filtering">
                <div>
                    Showing <select oninput="show_entries(this.value)">
                        <option value="15">15</option>
                        <option value="30">30</option>
                        <option value="60">60</option>
                        <option value="80">80</option>
                    </select>Accounts
                </div>
                
                <input placeholder="Network ID.." id="sort-nnid" type="search" oninput="search_accounts_by_network_id(this.value)">
            </div>
        </div>
        

        <table id="admin_table" class="table table-striped table-bordered" style="padding: 20px;">
            <thead class="thead-dark">
                <tr>
                    <th>Time Created</th>
                    <th>ID</th>
                    <th id="hide">PID</th>
                    <th>NNID</th>
                    <th id="hide">Mii Name</th>
                    <th>Mii</th>
                    <th id="hide">Bio</th>
                    <th id="hide">Game Experience</th>
                    <th id="hide">Language</th>
                    <th id="hide">Country</th>
                    <th id="hide">Favorite Post</th>
                    <th id="hide">Pronouns</th>
                    <th id="hide">Tester</th>
                    <th id="hide">Admin</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% for (let i=0; i < accounts.length; i++) { const account=accounts[i];%>
                    <tr <%= (i >= 15) ? 'style=display:none' : "" %>>
                        <td><%= moment(account.create_time).format("MM/DD/YYYY h:mm A") %></td>
                        <td><%= account.id %></td>
                        <td id="hide"><%= account.pid %></td>
                        <td><%= account.nnid %></td>
                        <td id="hide"><%= account.mii_name %></td>
                        <td><img width="48px" alt="<%= account.mii_hash %>" title="<%= account.mii_hash %>" src="https://mii-images.account.nintendo.net/<%= account.mii_hash %>_normal_face.png"></td>
                        <td id="hide"><%= account.bio %></td>
                        <td id="hide">
                            <% switch (account.game_experience) {
                                case 0:%>
                                Beginner
                                <%break;
                                case 1:%>
                                Intermediate
                                <%break;
                                case 2:%>
                                Expert
                                <%break;
                                default:%>
                                ???????
                                <%break;
                            } %>
                        </td>
                        <td id="hide"><%= account.language %></td>
                        <td id="hide"><%= account.country %></td>
                        <td id="hide"><%= account.favorite_post %></td>              
                        <td id="hide"><%= account.pronouns %></td>
                        <td id="hide"><%= account.tester %></td>
                        <td id="hide"><%= account.admin %></td>
                        <td>
                            <div class="options_container">
                                <button type="button" class="btn btn-info" onclick="pjax.loadUrl('/accounts/<%= account.id %>')">Edit</button>
                            </div>
                        </td>
                    </tr>
                <%} %>
            </tbody>
        </table>
        
    </div>
    
</body>
</html>