<%- include("./partials/header.ejs") %>

<body>
    <%- include("partials/navbar.ejs") %>
    <div class="alert alert-success" role="alert" style="display: none;">
        <strong>Community Created!</strong>
        <span>StreetPass Plaza</span>
    </div>
    
    <div class="alert alert-info" role="alert" style="display: none;">
        <strong>Community Edited!</strong>
        <span>StreetPass Plaza</span>
    </div>
    <div class="wrapper center" data-account-id="<%= editAccount.id %>">
        <div style="width: 50%;">
            <form>
                <div class="form-row">
                    <div class="col">
                        <label>PID</label>
                        <input id="pid" type="text" class="form-control" placeholder="Account PID.." value="<%= editAccount.pid %>">
                    </div>
                    <div class="col">
                        <label>NNID</label>
                        <input id="nnid" type="text" class="form-control" placeholder="Account NNID.." value="<%= editAccount.nnid %>">
                    </div>
                    <div class="col">
                        <label>Mii</label>
                        <input id="mii" type="text" class="form-control" placeholder="Mii Data.." value="<%= editAccount.mii %>">
                    </div>
                    <div class="col">
                        <label>Mii Name</label>
                        <input id="mii_name" type="text" class="form-control" placeholder="Mii Name.." value="<%= editAccount.mii_name %>">
                    </div>
                    <div class="col">
                        <label>Mii Hash</label>
                        <input id="mii_hash" type="text" class="form-control" placeholder="Mii Hash.." value="<%= editAccount.mii_hash %>">
                    </div>
                    <div class="col">
                        <label>Bio</label>
                        <textarea id="bio" type="text" class="form-control" placeholder="Bio.."><%= editAccount.bio %></textarea>
                    </div>
                    <div class="col">
                        <label>Admin</label>
                        <input id="admin" type="text" class="form-control" placeholder="Admin (0, 1)" value="<%= editAccount.admin %>">
                    </div>
                    <div class="col">
                        <label>Tester</label>
                        <input id="tester" type="text" class="form-control" placeholder="Tester (0, 1)" value="<%= editAccount.tester %>">
                    </div>
                    <div class="col">
                        <label>Banned</label>
                        <input id="banned" type="text" class="form-control" placeholder="Banned (0, 1)" value="<%= editAccount.banned %>">
                    </div>
                    <div class="col">
                        <label>3DS Service Token</label>
                        <input id="3ds_service_token" type="password" class="form-control" placeholder="3DS Service Token (First 42 Chars)" value="<%= editAccount['3ds_service_token'] %>">
                    </div>
                    <div class="col">
                        <label>Wii U Service Token</label>
                        <input id="wiiu_service_token" type="password" class="form-control" placeholder="Wii U Service Token (First 42 Chars)" value="<%= editAccount.wiiu_service_token %>">
                    </div>
                    <div class="col">
                        <label>Game Experience</label>
                        <input id="game_experience" type="text" class="form-control" placeholder="Game Experience (0, 1, 2)" value="<%= editAccount.game_experience %>">
                    </div>
                    <div class="col">
                        <label>Language</label>
                        <input id="language" type="text" class="form-control" placeholder="Language Code (2 Character Lowercase)" value="<%= editAccount.language %>">
                    </div>
                    <div class="col">
                        <label>Country</label>
                        <input id="country" type="text" class="form-control" placeholder="Country Code (2 Character Uppercase)" value="<%= editAccount.country %>">
                    </div>
                    <div class="col">
                        <label>Favorite Post</label>
                        <input id="favorite_post" type="text" class="form-control" placeholder="Favorite Post" value="<%= editAccount.favorite_post %>">
                    </div>
                    <div class="col">
                        <label>Relationship Visible</label>
                        <input id="relationship_visible" type="text" class="form-control" placeholder="Relationship Visible" value="<%= editAccount.relationship_visible %>">
                    </div>
                    <div class="col">
                        <label>Allow Friend Requests</label>
                        <input id="allow_friend" type="text" class="form-control" placeholder="Allow Friend" value="<%= editAccount.allow_friend %>">
                    </div>
                    <div class="col">
                        <label>Recieve Empathy Notifications</label>
                        <input id="empathy_notification" type="text" class="form-control" placeholder="Empathy Notification" value="<%= editAccount.empathy_notification %>">
                    </div>
                    <div class="col">
                        <label>Community Settings JSON</label>
                        <input id="community_settings" type="text" class="form-control" placeholder="Community Settings" value="<%= editAccount.community_settings %>">
                    </div>
                    <div class="col select">
                        <select name="pronouns" id="pronouns" autocomplete="off">
                            <option value="he/him" <%= (editAccount.pronouns == "he/him") ? "selected" : "" %>>he/him</option>
                            <option value="she/her" <%= (editAccount.pronouns == "she/her") ? "selected" : "" %>>she/her</option>
                            <option value="he/she" <%= (editAccount.pronouns == "he/she") ? "selected" : "" %>>he/she</option>
                            <option value="they/them" <%= (editAccount.pronouns == "they/them") ? "selected" : "" %>>they/them</option>
                            <option value="he/they" <%= (editAccount.pronouns == "he/they") ? "selected" : "" %>>he/they</option>
                            <option value="she/they" <%= (editAccount.pronouns == "she/they") ? "selected" : "" %>>she/they</option>
                        </select>
                    </div>
                </div>
            </form>

            <div class="center">
                <button type="button" class="btn btn-secondary" style="margin-right: 20px;" onclick="history.back()">Cancel</button>
                <button type="button" class="btn btn-success" onclick="submitEditedAccount()">Commit Edits</button>
            </div>
        </div>
    </div>
</body>

</html>